@use '../abstracts/index.scss' as *;

.heading {
  color: $color-primary;
  font-family: $font-primary;
  font-weight: 700;
  text-align: center;
  line-height: 1.5;
  margin-bottom: 2.5rem;

  &--secondary {
  }

  &--tertiary {
  }
}

.text {
  font-size: 1.4rem;
  text-align: center;
  line-height: 1.5;
  padding: 0 1rem;
}
