*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

ul,
ol {
  list-style: none;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  color: #585989;
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
  text-rendering: optimizeSpeed;
}

.heading {
  color: #070439;
  font-size: clamp(2.5rem, 6vw, 4rem);
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  text-align: center;
  line-height: 1.5;
  margin-bottom: 2.5rem;
}
@media (min-width: 1140px) {
  .heading {
    text-align: left;
    margin-bottom: 1.5rem;
  }
}
.heading--secondary {
  font-size: clamp(1.55rem, 6vw, 4rem);
  margin-bottom: 3rem;
}
.heading--tertiary {
  font-size: clamp(1.55rem, 6vw, 3rem);
  margin-bottom: 1.5rem;
}

.text {
  font-size: clamp(1.4rem, 4vw, 1.8rem);
  text-align: center;
  line-height: 1.3;
  padding: 0 1rem;
}
@media (min-width: 1140px) {
  .text {
    text-align: left;
    padding: 0;
  }
}

.container {
  width: 89%;
  max-width: 130rem;
  margin: 0 auto;
}

@media (min-width: 1140px) {
  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
    gap: 3rem;
  }
}

.header__nav-list {
  display: flex;
  align-items: center;
  gap: 2.5rem;
}
@media (min-width: 810px) {
  .header__nav-list {
    gap: 5.5rem;
  }
}
.header__nav-link:link, .header__nav-link:visited {
  color: #585989;
  font-size: clamp(1.2rem, 4vw, 1.6rem);
  text-decoration: none;
  transition: all 0.3s;
}
.header__nav-link:hover, .header__nav-link:active {
  color: #3065f8;
}

.footer__nav-list {
  margin-bottom: 4rem;
}
@media (min-width: 810px) {
  .footer__nav-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0 15rem;
  }
}
.footer__nav-item:not(:last-child) {
  margin-bottom: 1.5rem;
}
.footer__nav-item:nth-of-type(4) {
  margin-bottom: 5rem;
}
@media (min-width: 810px) {
  .footer__nav-item:nth-of-type(4) {
    margin-bottom: 0;
  }
}
.footer__nav-link:link, .footer__nav-link:visited {
  color: #f6f6fe;
  text-decoration: none;
  transition: all 0.3s;
}
.footer__nav-link:hover, .footer__nav-link:active {
  color: #3065f8;
}

.header {
  margin: 2.5rem 0 9.5rem 0;
}
@media (min-width: 810px) {
  .header {
    margin: 6.5rem 0 9.5rem 0;
  }
}
.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  width: 8rem;
}
@media (min-width: 810px) {
  .header__logo {
    width: 17rem;
  }
}

.main {
  overflow-x: hidden;
}

.intro {
  margin-bottom: 15rem;
}
@media (min-width: 1140px) {
  .intro {
    margin-bottom: 25rem;
  }
}
.intro__img {
  width: 65rem;
  margin: 0 auto 4rem auto;
  padding: 0 1.2rem;
  opacity: 0;
  visibility: hidden;
  transform: translateX(50%);
  transition: all 0.7s;
}
.intro__img.is-visible {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
}
@media (min-width: 1140px) {
  .intro__img {
    margin: 0;
  }
}
.intro__content {
  opacity: 0;
  visibility: hidden;
  transform: translateX(-50%);
  transition: all 0.7s;
}
.intro__content.is-visible {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
}
@media (min-width: 1140px) {
  .intro__content {
    margin-bottom: 4rem;
  }
}
.intro__text {
  color: #070439;
}

.productive {
  background-color: rgba(246, 246, 254, 0.8);
  padding: 4rem 0 8rem 0;
  position: relative;
}
@media (min-width: 810px) {
  .productive {
    padding: 8rem 0;
  }
}
@media (min-width: 1140px) {
  .productive {
    padding: 10rem 0;
  }
}
.productive__picture {
  width: 100%;
  position: absolute;
  top: -5rem;
}
@media (min-width: 1140px) {
  .productive__picture {
    top: -10rem;
  }
}
.productive__pattern {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.productive__img {
  width: 55rem;
  margin: 0 auto 8rem auto;
  padding: 0 0.5rem;
  opacity: 0;
  visibility: hidden;
  transform: translateX(50%);
  transition: all 0.7s;
}
.productive__img.is-visible {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
}
@media (min-width: 1140px) {
  .productive__img {
    margin: 0 auto 2rem auto;
  }
}
.productive__content {
  opacity: 0;
  visibility: hidden;
  transform: translateX(-50%);
  transition: all 0.7s;
}
.productive__content.is-visible {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
}
.productive__text {
  max-width: 54rem;
  text-align: left;
  padding: 0;
}
.productive__text:first-of-type {
  margin-bottom: 1.5rem;
}
@media (min-width: 1140px) {
  .productive__text {
    font-size: 1.6rem;
  }
}
.productive__link:link, .productive__link:visited {
  width: max-content;
  color: #3c9f8f;
  font-size: clamp(1.2rem, 4vw, 1.6rem);
  border-bottom: 0.1rem solid #3c9f8f;
  text-decoration: none;
  margin: 4rem auto;
  padding-bottom: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.7rem;
  transition: all 0.3s;
}
.productive__link:hover, .productive__link:active {
  opacity: 0.6;
  cursor: pointer;
}
@media (min-width: 810px) {
  .productive__link:link, .productive__link:visited {
    margin: 2rem 0 4rem 0;
  }
}
.productive__block {
  max-width: 35rem;
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 10px -3px rgba(7, 4, 57, 0.2);
  margin: 0 2.5rem;
  padding: 2.2rem 1.2rem 2.2rem 2.4rem;
}
@media (min-width: 1140px) {
  .productive__block {
    padding: 3rem;
  }
}
.productive__block > *:not(:last-child) {
  margin-bottom: 1rem;
}
@media (min-width: 810px) {
  .productive__block {
    margin: 0;
  }
}
.productive__icon {
  width: clamp(1rem, 4vw, 1.5rem);
}
.productive__quote {
  font-size: clamp(1.1rem, 4vw, 1.4rem);
  line-height: 1.6;
}
.productive__user {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.productive__user-img {
  width: clamp(2.5rem, 4vw, 3rem);
  border-radius: 50%;
}
.productive__user-info {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}
.productive__user-name {
  color: #070439;
  font-size: clamp(1rem, 4vw, 1.2rem);
  font-weight: 700;
}
.productive__user-status {
  font-size: clamp(0.7rem, 4vw, 0.9rem);
}

.access {
  background-color: #585989;
  padding: 5rem 0 6rem 0;
}
@media (min-width: 1140px) {
  .access {
    padding: 10rem 0;
  }
}
@media (min-width: 1140px) {
  .access__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.access__content {
  opacity: 0;
  visibility: hidden;
  transform: translateX(-50%);
  transition: all 0.7s;
}
.access__content.is-visible {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
}
@media (min-width: 1140px) {
  .access__content {
    flex-basis: 50%;
  }
}
.access__heading {
  color: #f6f6fe;
}
.access__text {
  max-width: 50rem;
  color: #f6f6fe;
  padding: 0 2rem;
}
@media (min-width: 810px) {
  .access__text {
    margin: 0 auto;
  }
}
@media (min-width: 1140px) {
  .access__text {
    margin: 0;
    padding: 0;
    font-size: 1.6rem;
  }
}

.footer {
  color: #f6f6fe;
  background-color: #070439;
  padding: 7rem 2rem 3rem 2rem;
}
@media (min-width: 1140px) {
  .footer {
    padding: 10rem 0 3rem 0;
  }
}
@media (min-width: 810px) {
  .footer__wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 0 10rem;
  }
}
.footer__logo {
  width: 17rem;
  margin-bottom: 4rem;
  filter: brightness(0) invert(1);
}
@media (min-width: 1140px) {
  .footer__logo {
    margin-bottom: 2rem;
  }
}
.footer__info-list {
  margin-bottom: 5rem;
}
.footer__info-item {
  width: max-content;
  max-width: 30rem;
  font-size: 1.6rem;
  margin-bottom: 2rem;
  display: flex;
  align-items: flex-start;
  gap: 2rem;
}
.footer__info-item--phone::before {
  content: url("./../../images/icon-phone.svg");
}
.footer__info-item--email::before {
  content: url("./../../images/icon-email.svg");
}
.footer__social-list {
  padding: 0 1rem;
  margin: 4rem 0 1rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
}
@media (min-width: 810px) {
  .footer__social-list {
    margin: 0 0 4rem 0;
    padding: 0;
    align-items: flex-start;
    justify-content: flex-start;
  }
}
.footer__social-item {
  border: 0.1rem solid white;
  border-radius: 50%;
  transition: all 0.3s;
}
.footer__social-item:hover {
  cursor: pointer;
  border: 0.1rem solid #3065f8;
}
.footer__social-item:hover .footer__social-icon {
  fill: #3065f8;
}
.footer__social-link {
  width: clamp(2.5rem, 4vw, 3rem);
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer__social-icon {
  width: clamp(1.1rem, 4vw, 1.5rem);
  fill: white;
  transition: all 0.3s;
}
.footer__attribution {
  font-size: 1rem;
  text-align: center;
}
@media (min-width: 810px) {
  .footer__attribution {
    text-align: left;
    align-self: center;
  }
}
.footer__attribution-link:link, .footer__attribution-link:visited {
  text-transform: uppercase;
  color: white;
  transition: all 0.3s;
}
.footer__attribution-link:hover, .footer__attribution-link:active {
  color: #3065f8;
}

.form {
  width: 100%;
  margin-top: 2rem;
  padding: 0 1rem;
}
@media (min-width: 1140px) {
  .form {
    padding: 0;
  }
}

.input {
  width: 100%;
  border: 0.1rem solid #585989;
  border-radius: 0.3rem;
  padding: 1rem 2rem;
  transition: all 0.1s;
}
.input:focus-visible {
  outline: 0.3rem solid #3c9f8f;
}
.input::placeholder {
  color: #bfbfbf;
  font-size: 1.2rem;
}
.input.error--is-visible:focus-visible {
  outline: 0.3rem solid #e9a0b2;
}

.error {
  color: #e9a0b2;
  font-size: 1.2rem;
  margin: 0.5rem 0;
  opacity: 0;
  visibility: hidden;
  align-self: flex-start;
  transition: all 0.3s;
}
.error.error--is-visible, .error.success--is-visible {
  opacity: 1;
  visibility: visible;
}
.error.error--is-visible {
  color: #e9a0b2;
}
.error.success--is-visible {
  color: #3c9f8f;
}

@media (min-width: 1140px) {
  .intro__form {
    width: 95%;
    display: flex;
    align-items: flex-start;
    gap: 1.5rem;
  }
}
.intro__form-wrapper {
  flex-basis: 55%;
}

.access__form {
  width: 80%;
  margin: 2rem auto 0 auto;
  opacity: 0;
  visibility: hidden;
  transform: translateX(50%);
  transition: all 0.7s;
}
.access__form.is-visible {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
}
@media (min-width: 1140px) {
  .access__form {
    margin: 0;
    flex-basis: 40%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
}
@media (min-width: 1140px) {
  .access__form-wrapper {
    width: 90%;
  }
}

.btn {
  width: 100%;
  color: #f6f6fe;
  background-color: #3065f8;
  border: 0;
  border-radius: 0.3rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 10px;
  font-size: 1.4rem;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  margin-top: 1rem;
  padding: 1.4rem;
  transition: all 0.3s;
}
.btn:focus-visible {
  outline: 0.2rem solid #3c9f8f;
}
.btn:hover, .btn:active {
  background-color: rgba(48, 101, 248, 0.7);
  cursor: pointer;
}
@media (min-width: 810px) {
  .btn--intro {
    flex-basis: 35%;
  }
}
@media (min-width: 1140px) {
  .btn--intro {
    margin-top: 0;
  }
}
@media (min-width: 1140px) {
  .btn--access {
    width: 40%;
  }
}

/*# sourceMappingURL=style.css.map */
