@use '../abstracts/index.scss' as *;

.access {
  background-color: $color-primary--light;
  padding: 5rem 0 6rem 0;

  &__heading {
    color: $color-secondary;
  }

  &__text {
    color: $color-secondary;
    padding: 0 2rem;
  }
}
