.container {
  width: 89%;
  max-width: 130rem;
  margin: 0 auto;
}

.wrapper {
  @media (min-width: 1140px) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
    gap: 3rem;
  }
}
