@use '../abstracts/index.scss' as *;

.header {
  margin: 2.5rem 0 9.5rem 0;

  @media (min-width: 810px) {
    margin: 6.5rem 0 9.5rem 0;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    width: 8rem;

    @media (min-width: 810px) {
      width: 15rem;
    }
  }
}
