@use '../abstracts/index.scss' as *;

.intro {
  margin-bottom: 15rem;

  &__img {
    width: 60rem;
    margin: 0 auto 4rem auto;
    padding: 0 1.2rem;
  }

  &__content {
  }

  &__text {
    color: $color-primary;
  }
}
