@use '../abstracts/index.scss' as *;

.header {
  &__nav {
    &-list {
      display: flex;
      align-items: center;
      gap: 2.5rem;
    }

    &-item {
    }

    &-link {
      &:link,
      &:visited {
        color: $color-primary--light;
        font-size: 1.2rem;
        text-decoration: none;
      }
    }
  }
}

.footer {
  &__nav {
    &-list {
    }

    &-item {
    }

    &-link {
      &:link,
      &:visited {
      }
    }
  }
}
