@use '../abstracts/index.scss' as *;

.productive {
  background-color: rgba($color-secondary, 0.8);
  padding: 4rem 0 8rem 0;
  position: relative;

  @media (min-width: 810px) {
    padding: 8rem 0;
  }

  @media (min-width: 1140px) {
    padding: 8rem 0 10rem 0;
  }

  &::before {
    content: url('../../../images/bg-curve-mobile.svg');
    width: 100%;
    position: absolute;
    top: -5rem;

    @media (min-width: 810px) {
      content: url('../../../images/bg-curve-desktop.svg');
    }

    @media (min-width: 1140px) {
      top: -10rem;
    }
  }

  &__img {
    width: 55rem;
    margin: 0 auto 8rem auto;
    padding: 0 0.5rem;

    @media (min-width: 1140px) {
      margin: 0 auto 2rem auto;
    }
  }

  &__content {
  }

  &__text {
    max-width: 54rem;
    text-align: left;
    padding: 0;

    &:first-of-type {
      margin-bottom: 1.5rem;
    }

    @media (min-width: 1140px) {
      font-size: 1.6rem;
    }
  }

  &__link {
    &:link,
    &:visited {
      width: max-content;
      color: $color-cyan;
      font-size: clamp(1.2rem, 4vw, 1.6rem);
      border-bottom: 0.1rem solid $color-cyan;
      text-decoration: none;
      margin: 4rem auto;
      padding-bottom: 0.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.7rem;
    }

    @media (min-width: 810px) {
      &:link,
      &:visited {
        margin: 2rem 0 4rem 0;
      }
    }
  }

  &__block {
    max-width: 35rem;
    background-color: $color-white;
    border-radius: 0.5rem;
    box-shadow: 0px 0px 10px -3px rgba($color-primary, 0.2);
    margin: 0 2.5rem;
    padding: 2.2rem 1.2rem 2.2rem 2.4rem;

    @media (min-width: 1140px) {
      padding: 3rem;
    }

    & > *:not(:last-child) {
      margin-bottom: 1rem;
    }

    @media (min-width: 810px) {
      margin: 0;
    }
  }

  &__icon {
    width: clamp(1rem, 4vw, 1.5rem);
  }

  &__quote {
    font-size: clamp(1.1rem, 4vw, 1.4rem);
    line-height: 1.6;
  }

  &__user {
    display: flex;
    align-items: center;
    gap: 1rem;

    &-img {
      width: clamp(2.5rem, 4vw, 3rem);
      border-radius: 50%;
    }

    &-info {
      display: flex;
      flex-direction: column;
      gap: 0.2rem;
    }

    &-name {
      color: $color-primary;
      font-size: clamp(1rem, 4vw, 1.2rem);
      font-weight: 700;
    }

    &-status {
      font-size: clamp(0.7rem, 4vw, 0.9rem);
    }
  }
}
