@use '../abstracts/index.scss' as *;

.btn {
  width: 100%;
  color: $color-secondary;
  background-color: $color-blue;
  border: 0;
  border-radius: 0.3rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 10px;
  font-size: 1.4rem;
  font-family: $font-secondary;
  font-weight: 700;
  margin-top: 1rem;
  padding: 1.4rem;
  transition: all 0.3s;

  &:focus-visible {
    outline: 0.2rem solid $color-cyan;
  }

  &:hover,
  &:active {
    background-color: rgba($color-blue, 0.7);
    cursor: pointer;
  }

  &--intro {
    @media (min-width: 810px) {
      flex-basis: 35%;
    }

    @media (min-width: 1140px) {
      margin-top: 0;
    }
  }

  &--access {
    @media (min-width: 1140px) {
      width: 40%;
    }
  }
}
