@use '../abstracts/index.scss' as *;

.form {
  width: 100%;
  margin-top: 2rem;
  padding: 0 1rem;

  @media (min-width: 1140px) {
    padding: 0;
  }
}

.input {
  width: 100%;
  border: 0.1rem solid $color-primary--light;
  border-radius: 0.3rem;
  padding: 1rem 2rem;
  transition: all 0.1s;

  &:focus-visible {
    outline: 0.3rem solid $color-cyan;
  }

  &::placeholder {
    color: $color-secondary--light;
    font-size: 1.2rem;
  }

  &.error--is-visible {
    &:focus-visible {
      outline: 0.3rem solid $color-red;
    }
  }
}

.error {
  color: $color-red;
  font-size: 1.2rem;
  margin: 0.5rem 0;
  opacity: 0;
  visibility: hidden;
  align-self: flex-start;
  transition: all 0.3s;

  &.error--is-visible,
  &.success--is-visible {
    opacity: 1;
    visibility: visible;
  }

  &.error--is-visible {
    color: $color-red;
  }

  &.success--is-visible {
    color: $color-cyan;
  }
}

.intro {
  &__form {
    @media (min-width: 1140px) {
      width: 95%;
      display: flex;
      align-items: flex-start;
      gap: 1.5rem;
    }

    &-wrapper {
      flex-basis: 55%;
    }
  }
}

.access {
  &__form {
    width: 80%;
    margin: 2rem auto 0 auto;

    // NOTE:
    // opacity: 0;
    // visibility: hidden;
    // transform: translateX(50%);
    // transition: all 0.7s;

    // &.is-visible {
    //   opacity: 1;
    //   visibility: visible;
    //   transform: translateX(0);
    // }

    @media (min-width: 1140px) {
      margin: 0;
      flex-basis: 40%;
      display: flex;
      align-items: flex-start;
      flex-direction: column;
    }

    &-wrapper {
      @media (min-width: 1140px) {
        width: 90%;
      }
    }
  }
}
