$color-primary: hsl(243, 87%, 12%);
$color-primary--light: hsl(238, 22%, 44%);
$color-secondary: hsl(240, 75%, 98%);
$color-secondary--light: hsl(0, 0%, 75%);
$color-blue: hsl(224, 93%, 58%);
$color-cyan: hsl(170, 45%, 43%);
$color-red: hsl(345, 62%, 77%);

$font-primary: 'Open Sans', sans-serif;
$font-secondary: 'Raleway', sans-serif;
